.header {
  grid-area: header;
  align-self: center;
  position: relative;
}

.menu-button {
  border: 3px solid grey;
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.menu-button:hover {
  cursor: pointer;
  background-color: rgb(73, 72, 72);
}

.help-box {
  position: absolute;
  top: 100%;
  background-color: #333;
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  height: 90vh;
  width: 90vw;
  display: none;
}

/* REACT X ICON */
/* ADDITIONAL INLINE STYLE HAS ALSO BEEN APPLIED TO THE ELEMENT WERE THE POINTEREVENTS HAVE BEEN SET TO NONE */
.menu-close {
  background-color: red;
  border-radius: 50%;
  font-size: 1.5rem;
}

/* SPAN ELEMENT WRAPPING THE REACT X ICON */
#menu-close {
  /* DISPLAYING AS INLINE FLEX TO FIT THE X ICON PERFECTLY WITHIN ITS SPAN WRAPPER */
  display: inline-flex;
  font-size: 1.5rem;
}
#menu-close:hover {
  cursor: pointer;
}
