.key {
  background-color: #1836e2;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  padding: 15px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  /* align-self: center; */
  /* justify-self: center; */
  transition: transform 0.5s ease-in-out;
}

.key:hover {
  transform: scale(0.9);
}
