.keyBoard {
  /* display: flex;
  gap: 2px;
  flex-flow: row wrap; */

  display: grid;
  grid-template-columns: repeat(6, 80px);

  /* width: 400px;
  height: 400px; */
  /* margin-right: auto;
  margin-left: auto; */
  justify-content: center;
  padding: 10px;
  margin: 20px;
}
